.my-jumbotron
{
    padding: 8px 8px;
    color: inherit;
    background-color: #eee;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 8px;
}

.centrato
{
  padding: 0px 15%;
}

.figura
{
  text-align: center;
  padding: 0 25%;
}