.my-jumbotron
{
    padding: 8px 8px;
    color: inherit;
    background-color: #f8f8f8;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-color: #e7e7e7;
    border-radius: 8px;
}

.centrato
{
  padding: 0px 10%;
}

.figura
{
  text-align: center;
  padding: 0 25%;
}

.item-list
{
  padding: 0px 10px;
}