/**********************/

.section {
  background-color: #DFDFDF;
  padding: 8px;
  border-radius: 0.4em;
  margin-top: 4px;
  margin-bottom: 4px;
}

.center {
  margin: auto;
}

.wrap {
  text-align: center;
}

/* Use wrap as parent if you want the element to be centered */
.fit-content {
  display: inline-block;
}

.round-canvas {
  border-radius: 0.2em;
}

.act-canvas {
  border-radius: 0.2em;
  padding: 2px;
}

.pred-num {
  font-size:1.2em;
  padding-left:8px;
  padding-right:8px;
}

.act-part-text {

}

.act-part-draw {
  border-left: solid rgb(180, 180, 180) 1px;
  margin: 2px 0px 2px 0px;
}